*{
  margin: 0;
  padding: 0;
}
body{
    background-color: #1a1a1a;
    background-size: cover;
    background-position: center;
    font-family: "andale_monoregular";
}
.inc-pw{
    text-align: center;
    margin-bottom: 40px;
    font-family: "chikaregomedium";
    font-size: 40px;
}



.pwform-box{
    width: 500px;
    background: rgba(0,0,0,0.8);
    margin: 12% auto;
    padding: 50px 0;
    color: #ffffff;
    box-shadow: 0 0 20px 2px rgba(0,0,0,0.5)
}

h1{
    text-align: center;
    margin-bottom: 40px;
    font-family: "chikaregomedium";
    font-size: 40px;
}

.input-box{
    margin: 31px auto;
    width: 30%;
    border-bottom: 1px dotted #fff;
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: center;
    opacity: 1;

}

.input-box input{
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
}

::placeholder{
    color: #fff;
    font-family: "andale_monoregular";
    font-size: 13px;
    text-align: center;
}

.login-btn {
  margin: 31px auto;
  width: 20%;
  display: block;
  outline: none;
  padding-top: 20px;
  border: none;
  cursor: pointer;
  background: transparent;
  color: #fff;
  font-family: "chikaregomedium";
  font-size: 16px;
  text-align: center;

}
